.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav{
  background-color: aqua;
  height: 50px;
  display: flex;
  justify-content: space-evenly;

  text-align: center;
align-items: center;
}

nav a{
  color:  grey;
  text-decoration: none;
}
/* nav a.active{
  border-bottom: 2px solid grey;
  font-weight: bold;
} */